<p id="notice"><%= notice %></p>

<p>
  <b>Announcer:</b>
  <%= @announcement.announcer_id %>
</p>

<p>
  <b>Overview:</b>
  <%= @announcement.overview %>
</p>

<p>
  <b>Details:</b>
  <%= @announcement.details %>
</p>

<p>
  <b>Range:</b>
  <%= @announcement.range %>
</p>

<p>
  <b>Street:</b>
  <%= @announcement.street %>
</p>

<p>
  <b>City:</b>
  <%= @announcement.city %>
</p>

<p>
  <b>Country:</b>
  <%= @announcement.country %>
</p>

<p>
  <b>Longitude:</b>
  <%= @announcement.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @announcement.latitude %>
</p>


<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
