<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @announcer.name %>
</p>

<p>
  <b>Street:</b>
  <%= @announcer.street %>
</p>

<p>
  <b>City:</b>
  <%= @announcer.city %>
</p>

<p>
  <b>Country:</b>
  <%= @announcer.country %>
</p>

<p>
  <b>Longitude:</b>
  <%= @announcer.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @announcer.latitude %>
</p>


<%= link_to 'Edit', edit_announcer_path(@announcer) %> |
<%= link_to 'Back', announcers_path %>
